.places {
  max-width: calc(1280px - 2 * 148px);
  margin: 92px auto;
}

@media screen and (max-width: 1025x) {
  .places {
    width: clamp(calc(768px - 24 * 2px), calc(100% - 24 * 2px), calc(1024px - 48 * 2px));
    margin: 92px auto;
  }
}

@media screen and (max-width: 769px) {
  .places {
    width: clamp(320px, calc(100% - 8 * 2px), calc(768px - 24 * 2px));
    margin: 92px auto 0px auto;
  }
}

@media screen and (max-width: 321px) {
  .places {
    margin: 63px 0px;
  }
}
