.lead {
    display: flex;
    flex-direction: column;
    max-width: calc(1280px - 2 * 148px);
    margin: 0px auto;
}
@media screen and (max-width: 1025px) {
    .lead {
        margin: 0px 48px;
    }
}

@media screen and (max-width: 769px) {
    .lead {
        margin: 0px;
    }
}

@media screen and (max-width: 321px) {
    .lead {
        max-width: 320px;
        margin: 0px;
    }
}