.lead__title {
  max-width: 720px;
  padding-top: 56px;
  margin: 0px auto;
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
}

@media screen and (max-width: 1025px) {
  .lead__title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 769px) {
  .lead__title {
    font-size: clamp(40px, 12.5vw, 96px);
  }
}

@media screen and (max-width: 321px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    padding-top: 48px;
    line-height: 1.1;
  }
}
