.lead__title {
    max-width: 720px;
    padding-top: 56px;
    margin: 0px auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1025px) {
    .lead__title {
        padding-top: 48px;
    }
}


@media screen and (max-width: 321px) {
    .lead__title {
        padding-top: 48px;
        font-size: 40px;
        line-height: 1.1;
        max-width: 288px;
    }
}