.intro__text {
  max-width: 690px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 40px auto 0px 0px;
}

@media screen and (max-width: 1025px) {
  .intro__text {
    margin: 42px auto 0px 0px;
  }
}

@media screen and (max-width: 769px) {
  .intro__text {
    max-width: calc(769px - 2 * 24px);
    padding: 40px 0px 0px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 321px) {
  .intro__text {
    max-width: 288px;
    line-height: 1.63;
  }
}
