.place__link {
  margin-top: 12px;
  max-width: fit-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: white;
  text-decoration: underline;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1025px) {
  .place__link {
    padding: 0px 0px;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    padding: 0px 16px;
  }
}

@media screen and (max-width: 321px) {
  .place__link {
    margin-top: 14px;
  }
}
