.place {
  display: grid;
  max-width: calc(1280px - 2 * 148px);
  width: 100%;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: repeat(1, 1fr);
  gap: 48px 40px;
  margin: 80px auto 0px auto;
}

@media screen and (max-width: 1025px) {
  .place {
    grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
    max-width: calc(1025px - 2 * 24px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 769px) {
  .place {
    grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
    max-width: calc(769px - 2 * 24px);
    margin: 73px auto 0px;
  }
}

@media screen and (max-width: 645px) {
  .place {
    grid-template-columns: 1fr;
    margin: 0px auto 90px auto;
  }
}

@media screen and (max-width: 321px) {
  .place {
    row-gap: 29px;
    margin: 50px 0px 0px 0px;
  }
}

.place:first-of-type {
  margin-top: 0px;
}
