.place {
  display: grid;
  max-width: calc(1280px - 2 * 148px);
  width: 100%;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: repeat(1, 1fr);
  gap: 48px 40px;
  margin: 0px auto 80px auto;
}

@media screen and (max-width: 1025px) {
  .place {
    grid-template-columns: minmax(auto, 449px) minmax(auto, 456px);
    column-gap: 32px;
    row-gap: 48px;
    max-width: calc(1024px - 2 * 48px);
  }
}

@media screen and (max-width: 769px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
    max-width: calc(768px - 2 * 24px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 495px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 29px;
  }
}

/*
@media screen and (max-width: 321px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
*/
